# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/

# Worktrees
.worktrees/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Typescript
*.tsbuildinfo

# github pipeline
.github/workflows/
docs/
features/
.claude/
.idea/
/TESTING.md
/project.md
